<div class="article-content">
  <img class="article-content__img-1" style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/bg_3_1_2048x2048.jpg?v=1690972062" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/bg_3_1_2048x2048.jpg?v=1690972062">
  <h4 class="article-content__title text-text text-center">1. Ethereal Embroidery</h4>
  <div class="d-flex text-15px text-dark-grey">Step into a world of enchantment with wedding dresses adorned in ethereal embroidery. Delicate floral patterns, intricate lacework, and shimmering embellishments create a whimsical and romantic look. This trend adds a touch of magic to your bridal ensemble, making you feel like a true fairy-tale bride.</div>
  <div class="article-content__img-wrapper wrapper-top">
    <img src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/Rectangle_10_2_1_480x480.png?v=1690958896" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/Rectangle_10_2_1_480x480.png?v=1690958896">
    <img src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/book_appointment_img_2_1_480x480.png?v=1690889229">
  </div>
  <h4 class="article-content__title text-text text-center">2. Sculptural Silhouettes:</h4>
  <div class="d-flex text-15px text-dark-grey">Make a bold statement with sculptural silhouettes that defy convention. Structured bodices, dramatic ruffles, and oversized bows add dimension and drama to your wedding dress. These architectural designs bring a modern edge to classic bridal fashion, ensuring all eyes are on you as you walk down the aisle.</div>
  <img class="article-content__img-2" src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/image_4_13_1024x1024.jpg?v=1691579771" alt="">
  <div class="article-content__bg-wrapper bg-grey">
    <p class="article-content__bg-text">"Absolutely stunning wedding dresses! The salon offers a wide range of beautifully crafted gowns that made my dream wedding a reality. The staff was incredibly helpful and attentive, ensuring a personalized experience from start to finish. I can't thank them enough for helping me find the perfect dress. Highly recommended!</p>
    <p class="title-small-upper" style="margin:0;">Victoria Anderson, Renowned Wedding Dress Designer S.</p>
  </div>
  <h4 class="article-content__title text-text text-center">3. Sheer Sophistication:</h4>
  <div class="d-flex text-15px text-dark-grey">Embrace the art of subtle allure with sheer elements in your wedding dress. Illusion necklines, sheer sleeves, and see-through bodices tastefully reveal hints of skin, exuding elegance and sophistication. This trend offers a perfect balance between modesty and sensuality, allowing you to feel both confident and enchanting on your special day.</div>
  <div class="article-content__img-wrapper">
    <img style="width: calc(60% - 12px);" src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/image_4_14_600x600.jpg?v=1691652332" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/image_4_14_600x600.jpg?v=1691652332" alt="">
    <img style="width: calc(40% - 12px);" src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/image_4_15_480x480.jpg?v=1691652624" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0782/9753/0641/files/image_4_15_480x480.jpg?v=1691652624" alt="">
  </div>
  <h4 class="article-content__title text-text text-center">Conclusion</h4>
  <div class="d-flex text-15px text-dark-grey" style="margin-bottom: 40px;">As you embark on your journey to find the perfect wedding dress for your big day, consider the hottest trends of 2023. Whether you prefer ethereal embroidery, sculptural silhouettes, sheer sophistication, bohemian beauty, or modern minimalism, there's a trend that will resonate with your personal style. Allow these trends to guide and inspire you as you curate your dream bridal look, and remember, the most important thing is to choose a dress that makes you feel confident, beautiful, and ready to say "I do" in style.</div>
</div>