@import 'settings/variables';
@import "settings/bootstrap";

.subcollection-grid {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        @include media-breakpoint-down(xs) {
            margin-left: -7.5px;
            margin-right: -7.5px;
        }
    }
}
