@import '../settings/variables';
@import "../settings/bootstrap-media";


.article-template__content {
    max-width: 972px;
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .article-content {
        &__img-1 {
            height: 320px;
            width: 100%;
            margin-bottom: 40px;
            object-fit: cover;
            object-position: center;
            border: none;
            @include media-breakpoint-down(xs){
                height: 210px;
                margin-bottom: 32px;
            }
        }
        &__img-2 {
            height: 415px;
            width: 100%;
            margin: 40px 0 56px;
            object-fit: cover;
            object-position: center;
            border: none;
            @include media-breakpoint-down(xs){
                height: 164px;
                margin: 24px 0 32px;
            }
        }
        &__title {
            margin: 0 0 20px;
            @include media-breakpoint-down(xs){
                margin: 0 0 12px;
            }
        }
        &__img-wrapper {
            margin: 40px 0 56px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include media-breakpoint-down(xs){
                display: flex;
                flex-direction: column;
                margin: 24px 0 32px;
            }
            img {
                object-fit: cover;
                object-position: center;
                height: 415px;
                &:first-child {
                    margin-right: 12px;
                    @include media-breakpoint-down(xs){
                      height: 267px;
                      margin-bottom: 11px;
                    }
                }
                &:last-child {
                    margin-left: 12px;
                    @include media-breakpoint-down(xs){
                        height: 458px;
                      }
                }
                @include media-breakpoint-down(xs){
                    width: 100% !important;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
        .wrapper-top {
            img {
                width: calc(50% - 12px);
                @include media-breakpoint-down(xs){
                    height: 339px !important;
                }
            }
        }
        &__bg-wrapper {
            padding: 60px;
            margin-bottom: 56px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include media-breakpoint-down(xs){
                padding: 40px 15px;
                margin-bottom: 32px;
            }
            p {
                max-width: 648px;
            }
            .title-small-upper {
                color: $c-dark-grey;
            }
        }
        &__bg-text {
            margin: 0 0 20px;
            font-size: 15px;
            font-weight: 400;
            line-height: 143%;
            letter-spacing: 0.9px;
            color: $c-black;
            font-style: italic;
            @include media-breakpoint-down(xs){
                color: $c-text;
                font-size: 13px;
                letter-spacing: 0.78px;
            }
        }
    }
}
