@import '../settings/variables';
@import "../settings/bootstrap-media";


.image-gallery {
  &__header {
    text-align: center;
    color: $c-text;
    margin-bottom: 48px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    max-height: 733px;
    overflow: hidden;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      max-height: fit-content;
    }
  }

  &__column {
    height: 100%;

    @include media-breakpoint-down(xs) {
      flex: 1 1 0;
    }

    &-1, &-2 {
      margin-right: 4px;

      @include media-breakpoint-down(xs) {
        margin-right: 0;
      }
    }

    &-1, &-3 {
      display: flex;
      flex-direction: column;
    }
  }

  &__image-wrap {
    display: flex;
    overflow: hidden;

    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }
  }

  &__column-1 &__image-wrap-1, &__column-3 &__image-wrap-1 {
      margin-bottom: 4px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 15px;
      }
  }

  &__column-1 &__image-wrap-1, &__column-1 &__image-wrap-2 {
    min-height: 296px;
  }

  &__column-2 &__image-wrap {
    min-height: 545px;

  }

  &__column-3 &__image-wrap-1 {
    min-height: 172px;
    max-height: 211px;
  }

  &__column-3 &__image-wrap-2 {
    min-height: 420px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
